
/* CSS Reset */
aside, body, footer, h1, h2, h3, header, img, main, nav, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* CSS Reset for HTML 5 */
article, audio, command, details, dialog, embed, 
figcaption, figure, hgroup, menu, section, summary,
video, wbr {
	display: block;
}

bdi, figcaption, keygen, mark, meter, progress, rp, rt, ruby, time {
	display: inline;
}

h1 {
    color: #974F9D;
  }

  body {
    background-color: #000;
 }
