
/* CSS Reset */
aside, body, footer, h1, h2, h3, header, img, main, nav, p, ul {
  margin: 0;
  padding: 0;
  border: 0;
}

/* CSS Reset for HTML 5 */
article, audio, command, details, dialog, embed, 
figcaption, figure, hgroup, menu, section, summary,
video, wbr {
display: block;
}

bdi, figcaption, keygen, mark, meter, progress, rp, rt, ruby, time {
display: inline;
}

h1 {
  color: #974F9D;
  font-size: 30px;
  z-index: -1;
  padding-top: 2px;

}

img {

  padding: 20px; 
}

figcaption {

  font-size: 30px;
  text-decoration: underline;
  font-family: 'VCR OSD Mono';
  color: #E0D0E6;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 7px; 
}

.site-header { 
  border-bottom: 1px solid #000000;
  padding: .5em 1em;
}

.site-header::after {
  content: "";
  display: table;
  clear: both;
}

.site-identity {
  float: left;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: .7em 0 .3em 0;
  display: inline-block;
}

.site-identity img {
  max-width: 55px;
  float: left;
  margin: 0 10px 0 0;
}

p {
  color: #ffffff;
  text-align: center;
  font-size: 40px;
  z-index: -2;
  padding: 4px;
  margin-left: 6px;
  margin-right: 6px;
}

h2 {

  font-size: 20px;
  color: #974F9D;
  text-align: center;
}

body {
  background-color: #000;
}

/* The side navigation menu */
.content {
position: relative;
}

#menu__toggle {
opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
top: 0;
transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
top: 0;
transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
right: 0 !important;
}
.menu__btn {
position: fixed;
top: 20px;
right: 20px;
width: 26px;
height: 26px;
cursor: pointer;
z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;
width: 100%;
height: 2px;
background-color: #974F9D;
transition-duration: .25s;
}
.menu__btn > span::before {
content: '';
top: -9px;
}
.menu__btn > span::after {
content: '';
top: 9px;
}
.menu__box {
display: block;
position: fixed;
top: -10px;
right: -100%;
width: 300px;
height: 100%;
margin: 0;
padding: 80px 0;
list-style: none;
background-color: #E0D0E6;
transition-duration: .25s;
}
.menu__item {
display: block;
padding: 12px 24px;
color: #974F9D;
font-family: 'VCR OSD Mono';
font-size: 30px;
font-weight: 600;
text-decoration: none;
transition-duration: .25s;
}
.menu__item:hover {
background-color: #7b7b7b;
}

/* Page content */
div.content {
margin-right: 200px;
padding: 1px 16px;
height: 1000px;

}

.content {
position: relative;
}

#i-section {

text-align: left;
}

@media only screen and (max-width: 300px) {
  
    .menu__box {
      display: block; 
      right: 300px; 
      position: absolute;
      z-index: 999;
  }

  .menu__btn {
    float: right; 
}

.menu__item {
  float: right; 

}

  /* Make header and paragraph text smaller */
  h1, p {
    font-size: 14px;
  }

  /* Align hamburger menu to front of page */
  .content {
    margin-top: 0;
  }

  header, h1, p {
    position: relative;
    z-index: -1;
  }

}

/*table styles */

table {
  border-collapse: collapse;
  width: 100%;
  color: #7b7b7b;
}
th, td {
  padding: 15px;
  text-align: center;
  border-bottom: 3px solid #974F9D;
  color: #ffffff;
}
th {
  background-color: #e1bfe4;
  color: #974F9D;
  font-size: 24px;
  font-weight: normal;
}
td {
  font-size: 20px;
  color: rgb(255, 0, 230)fff;

}