
/* CSS Reset */
aside, body, footer, h1, h2, h3, header, img, main, nav, ul {
    margin: 0;
    padding: 0;
    border: 0;
}

/* CSS Reset for HTML 5 */
article, audio, command, details, dialog, embed, 
figcaption, figure, hgroup, menu, section, summary,
video, wbr {
	display: block;
}

bdi, figcaption, keygen, mark, meter, progress, rp, rt, ruby, time {
	display: inline;
}

h1 {
    color: #974F9D;
  }

  p {
    color: #fff;
    text-align: center;
    font-size: 50px;
  }

  


  body {
    background-color: #000;
 }

 /* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  right: -50px;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #954C9B;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-right: 200px;
  padding: 1px 16px;
  height: 1000px;
  
}

.content {
  position: relative;
}

/* On screens less than 700px wide, make sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: right;}
  div.content {margin-right: 0;}
}

/* On screens that less than 400px, display the sidebar vertically instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
